@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body {
    margin: 0;
    background-image: linear-gradient(to bottom right, #963b3b, #4d411d);
    background-attachment: fixed;
    font-size: 40px;
    height: 100%;
  }
  
.App
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Neucha", cursive;
    color: white;
}
.PrimaryImage
{
    max-width: 80%;
    max-height: 1080px;
    display: inline;
}

.StackPanel
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; /* Aligns children to the start of the flex container */
    gap:10px
}

.ArrowImage
{
    max-width: 100%;   /* Maximum width is 100% of the container */
    max-height: 100%;  /* Maximum height is 100% of the container */
    width: auto;       /* Width will be the natural size or less */
    height: auto;      /* Height will be the natural size or less */
    object-fit: contain;
    display: inline-block;
}
.HorizontalStackPanel
{
    flex: 0 0 auto;  /* Don't grow, don't shrink, auto-basis */
    align-self: center;
    display: flex;          /* Enables Flexbox */
    flex-direction: row;    /* Children laid out in a row (left to right) */
    align-items: center;    /* Aligns children vertically in the center */
    justify-content: flex-start; /* Aligns children to the start of the flex container */
    gap: 10px;
}
.HorizontalStackPanel > * {
    /* This rule ensures that no specific item affects the general alignment */
    margin: 0;                       /* Removes margin that might affect alignment */
    align-self: center;              /* Forces each child to center align individually */
  }


.StepText
{
    display: inline;
    padding: 10px;
    align-self: center;
}

.GradientBase
{
    width: fit-content;
    background-image: radial-gradient(ellipse at center, #0007 0%,transparent 70%);
}
.OuterContainer
{
    background-color:  #3b9296;
    padding: 50px;
    width: 90%;
    height: auto;
    display: flex;
    min-height: 600px;
}
.ImageColumn
{
    min-width: 40%;
    display: flex;
    justify-content:left;

}
.ToolColumn
{
    min-width: 10%;
    flex-grow: 1;
}
.Shadow 
{
    box-shadow: 0 0 10px #000;
    border: 1px solid #000a;
}

.Debug
{
    background-color: pink;
}
.ImageUploadButton
{
    cursor: pointer;
}

.PulseGradient 
{
    width: fit-content;
    background-image: radial-gradient(ellipse at center, #000c 0%,transparent 70%);
    animation: gradientPulse 1s ease-in-out infinite;
    padding: 20px;
    margin: -20px;
}

@keyframes gradientPulse 
{
    0% {
        opacity: 1;
    }
    50% {
       opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
  }
.Heading
{
    text-transform: uppercase;
    font-size: 100px;
    padding: 30px 0;
    color: white;
    z-index: 1;
    text-align: center;
}
.SubHeading
{
    font-size: 50px;
    color: white;
    margin: 0 0px 30px 0;
}
.CoffeeButtonImage
{
    max-height: 60px;
}

.CoffeeButtonContainer
{
    width: fit-content;
    height: fit-content;
    padding: 0px;
    margin: 10px;
    right: 0;
    bottom:0;
    position: fixed;

}
